<div class="about">
	
<div class="row" id="stripe1">
	<span class="column1">
		<img class="abtLogo" src={{config.aboutImgUrl}} alt="">
	</span>
	<span class="column2">
		  <textarea class="writeup" >{{aboutText}}></textarea>
	</span>
</div>


<marquee class="scrollingText" behavior="scroll" direction="left">Welcome to the world of fabriculture!</marquee>



<div class="row" id="stripe2" inView (visible)="onVisibilityChanged($any($event))" >
    <app-slide-show class="column1" style="float: left; top: 6%; left: 2%;" [slidesPath]="config.fabriculture" [slides]="slidesToShow" [flag]="flag"></app-slide-show>
    <span class="column2 fontsTitle" style="float: right; top: 40%; right: 2%; color: black">
		Our<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>'   Designs'
	</span>
    
    
</div>


<div class="row" id="stripe3">
	
	<app-image-slider [slidesPath]="config.ourWork" [slides]="config.ourWorkSlides"></app-image-slider>
      <span class="column2 fontsTitle" style="float: bottom; bottom: -5%; color: black">
		Our  '   Work'
	</span>

</div>

<div class="row" id="gap"></div>

