<meta name="viewport" content="width=device-width, initial-scale=1"/>

<header class="h1">
	<span class="columnH1">	
  		<img class="logo" src='assets/photo/filigree.jpg' alt="">
	</span>
  	<span class="columnH2">
  		<button class="btn" style="background-color:#8CB4B4"><a href="filigree/about">About</a></button>
  		<button class="btn" style="background-color:#D6B578"><a href="filigree/products">Product</a></button>
  		<button class="btn" style="background-color:#FFFFFF"><a href="filigree/projects">Project</a></button>
	</span>
</header>
<body>
	<img class="background" src='assets/photo/background-img.jpg' alt="">

<div class="connect">
	<a href="http://Facebook.com/FiligreeHomeDecor" target="_blank"><img class="connect" src='assets/photo/Facebook.png' alt=''></a>
	<a href="mailto:filigree.fabriculture@gmail.com" target="_blank"><img class="connect" src='assets/photo/Email.png' alt=''></a>
	<a href="http://instagram.com" target="_blank"><img class="connect" src='assets/photo/InstaGram.png' alt=''></a> 
  	<p class="fonts">Connect us @ </p>
</div>
<router-outlet></router-outlet>



</body>



