<meta name="viewport" content="width=device-width, initial-scale=1"/>

<header class="h1">
	<span class="columnH1">	
  		<img class="logo" src='assets/photo/filigree.jpg' alt="">
	</span>
  	<span class="columnH2">
  		<button class="btn" style="background-color:#8CB4B4"><a href="/filigree/about">About</a></button>
  		<button class="btn" style="background-color:#D6B578"><a href="/filigree/products">Product</a></button>
  		<button class="btn" style="background-color:#FFFFFF"><a href="/filigree/projects">Project</a></button>
	</span>
</header>
<body>

<div class="connect">
	<p class="fonts">Connect us @ </p>
	<a href="http://Facebook.com/FiligreeHomeDecor" target="_blank"><img class="connect" src='assets/photo/Facebook1.png' alt=''></a>
	<a href="mailto:filigree.fabriculture@gmail.com" target="_blank"><img class="connect" src='assets/photo/Email1.png' alt=''></a>
	<a href="http://instagram.com" target="_blank"><img class="connect" src='assets/photo/InstaGram1.PNG' alt=''></a> 
  	
</div>
	<!--<img class="background" src='assets/photo/background-img1.jpg' alt="">-->


<router-outlet></router-outlet>



</body>



